<!DOCTYPE html>
<html>


	<body>
		<!-- font-awesome cdn -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>

		<div class="container">
			<div>
				<h1 class="title has-text-centered">Todo List</h1>
			</div>
			<div class="columns is-mobile is-centered">
				<div class="column is-6">
					<div class="list">
						<ul>
							<div class="list-item tags">
								<span class="tag is-white">
									<i class="fas fa-database"></i>
								</span>
								<li>
									Design a custom database to store your daily activity
									<a class="tag is-delete is-danger"></a>
								</li>
							</div>

							<div class="list-item tags">
								<span class="tag is-white">
									<i class="fas fa-camera"></i>
								</span>
								<li>
									Take pictures of beautiful flowers
									<a class="tag is-delete is-danger"></a>
								</li>
							</div>

							<div class="list-item tags">
								<span class="tag is-white">
									<i class="fas fa-horse"></i>
								</span>
								<li>
									Ride to a horse and write your experience
									<a class="tag is-delete is-danger"></a>
								</li>
							</div>

							<div class="list-item tags">
								<span class="tag is-white">
									<i class="fas fa-motorcycle"></i>
								</span>
								<li>
									Go for a trip with bike
									<a class="tag is-delete is-danger"></a>
								</li>
							</div>

							<div class="list-item tags">
								<span class="tag is-white">
									<i class="fas fa-headphones"></i>
								</span>
								<li>
									Buy a sumsung headset
									<a class="tag is-delete is-danger"></a>
								</li>
							</div>

							<div class="list-item tags">
								<span class="tag is-white">
									<i class="fas fa-music"></i>
								</span>
								<li>
									Listen music for one hour
									<a class="tag is-delete is-danger"></a>
								</li>
							</div>

							<div class="list-item">
								<span class="tag is-white">
									<i class="fas fa-walking"></i>
								</span>
								<li>
									Go for a morning walk
									<a class="tag is-delete is-danger"></a>
								</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
